[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
pandas-datareader = "*"
matplotlib = "*"
scipy = "*"
newsapi-python = "*"
selenium = "*"
chromedriver-binary = "==93.0.4577.63.0"
requests = "*"
beautifulsoup4 = "*"
bs4 = "*"
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.9"
